@keyframes pulse {
    from {
        scale: 1;
        opacity: .5;
    } to {
        scale: 1.35;
        opacity: 0;
    }
}

@keyframes rotate-right {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-left {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(-360deg);
    }
}